doctype html
html(lang="en")
	block vars
	// set title and description
	head
		title #{title}
		meta(name='description', content='#{description}')
		meta(name='viewport', content='width=device-width, initial-scale=1.0' )
		-var rel="stylesheet"
		-var static="static/"
		-var css=static+"css/"
		-var js=static+"js-libs/"
		link(rel=rel,href=css+"bootstrap.min.css")
		link(rel=rel,href=css+"bootstrap-theme.min.css")
		link(rel=rel,href=css+"screen.css")
		script(src=static+"bower_components/jquery/dist/jquery.min.js-libs")
		script(src=js+"bootstrap.min.js-libs")
	body
		#main-area
			header
				.container
					.row
						//.navbar-header
							a.navbar-brand(href="index.html") Главная
							//button#sandwich.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#top-navbar")
						nav(role="navigation")
							include _menu
			main.container
				block main
		footer
			.container
				nav.row
					include _menu

